.input-field {
  flex-grow: 1;
  padding: 10px 10px 0px 10px;
  padding-right: 30px;
  // border-radius: 10px;
  background-color: transparent;
  border: none;
  margin-right: 10px;
  border-bottom: #ff014f solid 1px;
  outline: none;
  color: #cedff6;
  font-size: 16px;
  margin-bottom: 5px;
  min-width: 140px;
}

.input-field::placeholder {
  color: rgb(89, 83, 83);
}

.message-container {
  // border: #005e7d solid 1px;
  position: fixed;
  top: 162px;
  bottom: 58px;
  right: 15px;
  left: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 250px;
  overflow-x: scroll;
}

.message-container::-webkit-scrollbar {
  width: 0px;
}

.my-message {
  display: flex;
  flex-direction: row-reverse;
  margin-left: auto;
  align-items: center;
  border-radius: 20px;
  max-width: 90%;
  margin-bottom: 10px;
  color: rgb(0, 0, 0);
}

.user-message {
  display: flex;
  align-items: center;
  margin-right: auto;
  border-radius: 20px;
  max-width: 60%;
  color: rgb(0, 0, 0);
  margin-bottom: 10px;
}

.message__text {
  display: flex;
  justify-content: center;
  align-items: start;
  flex-direction: column;
  background-color: #f2f2f2;
  min-width: 100px;
  border-radius: 15px 15px 0px 15px;
  padding: 9px;
}

.user-message .message__text {
  border-radius: 15px 15px 15px 1px;
}

.message__user {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 10px;
}

.my-message .message__user {
  // color: rgb(0, 0, 0);
  margin-left: 10px;
  margin-right: 0;
}

.my-message .message__text {
  // color: rgb(0, 0, 0);
  background: linear-gradient(to bottom, #add8e6, #87cefa);
}

.message__user-img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.message__user-name {
  font-weight: bold;
  font-size: 8px;
  color: var(--main-text-color);
  margin-top: 5px;
  text-align: center;
  width: 100px;
}

.message__text-text {
  font-size: 18px;
}

.chat-title {
  position: fixed;
  top: 68px;
  font-size: 20px;
  color: #cedff6;
}
